body{
    margin: 0;
    padding: 0;
    justify-content: center;
    background-color: #fff5fc;
    text-align: center;
    font-family: Arial, sans-serif;
}

h1{
    margin-top: 140px;
    font-size: xx-large;
}
p{
    font-size: x-large; 
}
img{
    padding: 20px;
    width: 60px;
    height: auto;
}